    <section class="userResults py-5">
        <div class="magazineContainer mx-auto h-[454px] max-w-[341px] md:h-[682px] md:max-w-[512px]">
          {{!-- <div class="userPhoto flex justify-end"><img class="py-10 my-4 h-30 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Rounded avatar"></div> --}}
                <div class=" text-sm italic flex-end px-6 pt-2">
            <p>page: {{playlistData.user_id}}</p>
              </div>
              <div class="flex items-center justify-center text-lg font-semibold pt-8">
                  <p>Playlist by: {{playlistData.user.name}}</p>
              </div>
              <div class="playlist flex pt-18 px-14 mt-5">
                {{>playlist-details}} 
              </div>
      </section>

<div class="flex justify-center items-center m-5">
  <a href="/collection" class="inline-flex items-center justify-center text-base font-medium text-gray-900 bg-lime-500 hover:bg-gray-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-lime-300 px-5 py-2.5 text-center mr-2 mb-2">
    <span class="w-full">Post to Magnifi!</span>
  </a> 
</div>

{{!-- <section class=" playlistSongData flex mx-auto">
    <div class="card">
      {{#each playlist}}
      {{#each song_name}}
      <li>
      {{this}}
      </li>
      {{/each}}
      {{/each}}
    </div>
</section>

<section class=" playlistArtist Data flex mx-auto">
    <div class="card">
      {{#each playlist}}
      {{#each song_artist}}
      <li>
      {{this}}
      </li>
      {{/each}}
      {{/each}}
    </div>
</section> --}}

{{!-- <h2>Songs:</h2>
<ul>
  {{#each playlist.song_name}}
    <li>{{this}}</li>
  {{/each}}
</ul>
{{!-- {{playlist.user_id}} --}}
